.Header__Container {
    height: 80px;
    width: 100%;
    padding: .625rem;
    font-weight: 400;
    align-items: center;
    border: 1px solid wheat;

    h1 {
        color: rgb(0, 195, 255);
        text-align: left;
    }
}